body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
}

.avatar-container {
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  right: 40px;
  top: 30px;
}

.avatar-container:hover {
  cursor: pointer;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notification-number {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FC0C01;
  color: white;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: -5px;
}

.modal-container {
  width: 620px;
  color: black;
  background: white;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 4px;
  position: fixed;
  top: 120px;
  left: calc(50% - 320px);
}

.close-modal {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.56;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.close-modal:hover {
  opacity: 1;
  cursor: pointer;
}