* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar, body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  opacity: 1;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  border-radius: 0px;
  background: none;
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  background: white;
  width: 100vw;
  height: 100vh;
}

.avatar-container {
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  right: 40px;
  top: 30px;
}

.avatar-container:hover {
  cursor: pointer;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notification-number {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FC0C01;
  color: white;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: -5px;
}

.modal-list {
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  width: 80%;
  min-width: 420px;
  max-width: 620px;
  height: 400px;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: black;
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  padding-bottom: 20px;
  overflow: scroll;
  overflow-x: hidden;
  transition: height 400ms ease-in-out;
}

.modal-wrapper.detail-modal-wrapper {
  height: 500px;
  overflow: hidden;
}

.modal-wrapper.detail-modal-wrapper > .modal-list {
  height: 500px;
}

.detail-modal-wrapper > .detailed-view {
  transform: translateX(0px);
  background: white;
  height: 100%;
}

.modal-button {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 22px;
  font-weight: 600;
  opacity: 0.3;
  width: 30px;
  height: 30px;
  line-height: 30px;
  user-select: none;
  z-index:99;
}

.modal-button:hover {
  opacity: 1;
  cursor: pointer;
}

.back-button {
  right: 0px;
  left: 8px;
  top: 22px;
}

.alert-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 25px;
}

.alert-date {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  color: rgba(0,0,0,0.4)
}

.alert-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  border-bottom: 2px solid rgba(0,0,0,0.14);
  text-align: left;
  padding-bottom: 25px;
  cursor: pointer;
}

.alert-info h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: 800;
}

.alert-info p {
  margin-top: 0px;
}

.alert-image {
  height: 220px;
  max-width: 100%;
}

.modal-cover {
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.alert-tag {
  color: white;
  height: 26px;
  border-radius: 25px;
  background: grey;
  text-transform: uppercase;
  padding: 4px 15px;
  font-weight: 700;
  font-size: 14px;
  margin: 20px 0px;
  user-select: none;
}

.tag-new {
  background: #4D72F7;
}

.tag-im {
  background: #35A04D;
}

.detailed-view {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  transform: translateX(-620px);
  background: white;
  transition: transform 400ms ease-in-out;
}

.detailed-view > .alert-info {
  max-width: 100%;
  padding: 0px 50px;
  height: 100%;
  margin: 0 auto;
  border: none;
  cursor: default;
}

.detailed-view > .alert-info >.alert-date {
  padding-left: 0px;
  margin-top: 10px;
}